
<div class="apiInfo">创建一个API</div>
<div class="name">
	<span class="namespan">API名称</span>
	<div class="ti1">
		<%if(isEdit){%>
			<input type="text" id="apiname" class="nameinput" value="<%=stringValueJson.name%>" >
		<%}else{%>
			<input type="text" id="apiname" class="nameinput" placeholder="中文数据接口名称，用于首页显示和搜索" >
		<%}%>
	</div>
</div>
<div class="name">
	<span class="namespan">API url</span>
	<div class="ti1">
		<%if(isEdit){%>
			<input type="text" id="apiurl" class="nameinput" value="<%=stringValueJson.url%>" onblur="checkApiUrl(<%=stringValueJson.url%>)">
		<%}else{%>
			<input type="text" id="apiurl" onblur="checkApiUrl()" class="nameinput" placeholder="只需要填写英文APIurl，用于获取数据，最终地址为“http://localhost:3000/getjson/APIurl”，不能重复" >
		<%}%>
	</div>
</div>
<p id="warn">提示：此API url 已经存在，继续保存将会覆盖！</p>
<div class="edit">
	<div class="edit_left">
		<em>String<i class="notice"> ( key需要双引号 例如{"a":1} )</i></em>
		<%if(isEdit){%>
			<textarea class="string-edit J x P" id="eT"><%=stringValueJson.detail%></textarea>
		<%}else{%>
			<textarea class="string-edit J x P" id="eT"></textarea>
		<%}%>
	</div>
	<div class="edit_left">
		<em>
			JSON
			<i class="notice">( 仅供参考，建议用网上更强大的工具预览JSON )</i>
		</em>
		<!-- <pre id="result" class="json-show" >

  		</pre> -->
			<div class="K F json-show" id="fU" >
				<div class="y Q">
                    <div class="C A" id="hW">
                    </div>
                    <div class="C B" id="kZ">
                    </div>
                </div>

          <div class="z L">
              <div class="E" id="dS" style="width:550px;overflow-y:scroll;height:572px">
                  <div class="C A" >
                      <div class="w">
                          <div class="P" id="iX">
                          </div>
                      </div>
                  </div>
                  <div class="C B">
                      <div class="w D">
                          <div class="P" id="lA">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

	</div>
</div>
<div class="apiInfo">接口备注</div>
<div>
	<%if(isEdit){%>
		<textarea  id="api-introduce"><%=stringValueJson.apiInfo%></textarea>
	<%}else{%>
		<textarea id="api-introduce" placeholder="填写接口的备注信息"></textarea>
	<%}%>
</div>
<div style="text-align:center">
	<a class="ok-btn act" id="ok-btn">编辑完成，保存接口</a>
</div>
<script src="/lib/json_parse.js"></script>
<script>
	//记录被改变状态
	var changed = true;
	var _dom = document.getElementById("eT");
	function checkJSON(stringValue){
		try{
			stringValue = JSON.parse(stringValue);
		}
		catch(err){
 			_dom.select(); // 选择对象
  		document.execCommand("Copy"); // 执行浏览器复制命令
			if(confirm("json格式有误，已复制到剪贴板，是否去检查格式?")){
				window.open("http://www.bejson.com/")
			}
			return false
		}
	}
	function checkApiUrl(oldUrl) {
		var apiurl = document.getElementById("apiurl").value.replace(/\s/g,"")
		$.ajax({
			url:'/repeat',
			type:'get',
			data:{apiurl:apiurl},
			success:function(data){
				if(data.repeat && apiurl != oldUrl){
					document.getElementById("warn").style.display ='block'
				}else{
					document.getElementById("warn").style.display ='none'
				}
			}
		})
	}
	document.getElementById("ok-btn").addEventListener("click",function(){
		var stringValue = document.getElementById("eT").value,
			apiname = document.getElementById("apiname").value.replace(/\s/g,"");
			apiurl = document.getElementById("apiurl").value.replace(/\s/g,"");
		if(!apiname || !apiurl)	{
			alert("API名称和url为必填");
			return false;
		}
		$.ajax({
			url:'/save',
			type:'post',
			data:{
				'name':apiname,
				'url':apiurl,
				'data':JSON.stringify({
					name:apiname,
					url:apiurl,
					apiInfo:document.getElementById("api-introduce").value,
					detail:stringValue
				})
			},
			success:function(){
				alert('保存成功')
			},
			error:function(){
				alert("保存失败，请重试！")
			}
		})
	})
</script>
